:host {
    display:flex;
    width:100%;  

}
.metabar-inner { 
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    padding-top:2.5rem;
    padding-bottom:2.5rem;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.3);
}

.site-brand {
    font-size:3.2rem;
    font-weight:700;
    margin-bottom:.5rem;
}


dropdown {
    background:#FFFFFF;
    margin-left:1.5rem;
    margin-right:1.5rem;
}
