.metabar {
    display:flex;
    width:100%;  
    border-bottom: 1px solid #F8F8F8;
}

.metabar-inner {
    display:flex;
    flex-direction:column;  
}

.metabar-site {
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.site-brand {
    font-size:3.2rem;
}