<div class="table-wrapper {{theme}}">
    <div *ngIf="responseMessage" class="response-error">{{responseMessage}}</div>
    <div class="table-controls">
        <button (click)="addRow()" class="table-button">
            <i class="fa fa-plus fa-18" aria-hidden="true"></i>Add a row
        </button>
        <filter-menu *ngIf='filterKeys.length > 0' [filterKeys]='filterKeys'></filter-menu>
    </div>
    <div class="table">
        <div class="table-row table-header">
            <div class="table-row-cell" *ngFor="let columnName of columnNames">{{columnName}}</div>
        </div>
        <div class="table-body">
            <dynamic-row *ngFor="let row of addedRows" [keys]="keys" [row]="row"></dynamic-row>
        </div>
        <div class="table-body table-main-content">
            <dynamic-row *ngFor="let row of rows | rowPipe" [keys]="keys" [row]="row"></dynamic-row>
        </div>
    </div>
</div>
<dynamic-row-edit [formQuestions]="formQuestions"></dynamic-row-edit>