<main>
    <div class="route-back">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        <a routerLink='../../'>Go back to {{league}}</a>
    </div>
    <div class="team-header">
        <h2 class="team-color {{team}}">{{team}}</h2>
        <div class="results">Record: {{win}}-{{loss}}-{{tie}}</div>
        <div class="champion" *ngIf="champion">
            <i class="fa fa-star champion-icon" aria-hidden="true"></i>
            League Champion
        </div>
        <div class="finalist" *ngIf="finalist">
            <i class="fa fa-star finalist-icon" aria-hidden="true"></i>
            League Runner-up
        </div>
    </div>
    <div class="panel panel-small">
        <dashboard-team-summary></dashboard-team-summary>
    </div>
    <div class="panel panel-small">
        <dashboard-team-players></dashboard-team-players>
    </div>
</main>