:host {
    display:flex;
    flex-direction:column;
    border-bottom: 1px solid rgba(0,0,0, 0.2);
    flex:1;
}

:host:last-of-type {
    border-bottom:none;
}

.scoreline {
    display:flex;
    flex-direction:row;
    flex:1;
    align-items:center;
    padding-right:2rem;
    padding-top:.5rem;
    padding-left:2rem;
    padding-bottom:.5rem;
}

.team {
    flex:1;
}
.score {
    flex:1;
}
.winner {
    background:#edfeed;
}

.tie {
    background:#fdf5eb;
} 


.gray {
  background:#D1D2D4;
}
.white {
  background:white;
}
.red{
  background:#CC2035;
}
.pink {
  background:#EF5D94;
}
.forest.green {
  background:#015029;
}
.turf.green {
  background:#AECD48;
}
.green {
  background:#015029;
}
.wake.blue {
  background:#78A6D9;
}
.cobalt.blue {
  background:#144782;
}
.blue {
  background:#144782;
}
.orange {
  background:#E95C28;
}
.purple {
  background:#4B2C6E;
}
.black {
  background:black;
}