:host {
    display:flex;
    flex:1;
    min-height:20rem;
    width:100%;
    background:#FFFFFF;
};

.results {
    display:flex;
    flex-direction:column;
    flex:1;
}
header {
    display:flex;
    flex:1;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    div {
        font-size:2rem;
        font-weight:700;
    }
}

.game-date{
    background:#F8F8F8;  
    padding-left:2rem; 
}
