<div class="table light-theme">
    <div class="table-title">Update Tables</div>
    <div class="table-body">
        <div class="table-column">
            <div class="table-cell table-header">Table Names</div>
            <div class="table-cell">League</div>
            <div class="table-cell">Team</div>
            <div class="table-cell">Player</div>
            <div class="table-cell">PlayerLeague</div>
            <div class="table-cell">Game</div>
        </div>
        <div class="table-column">
            <div class="table-cell table-header">Edit</div>
            <div class="table-cell">
                <a [routerLink]="['/admin', 'leagues']"><i class="fa fa-pencil-square-o" style="font-size:14px;" aria-hidden="true"></i></a>
            </div>
            <div class="table-cell">
                <a [routerLink]="['/admin', 'teams']">Edit</a>
            </div>
            <div class="table-cell">
                <a [routerLink]="['/admin', 'players']">Edit</a>
            </div>
            <div class="table-cell">
                <a [routerLink]="['/admin', 'leagueplayers']">Edit</a>
            </div>
            <div class="table-cell">
                <a [routerLink]="['/admin', 'games']">Edit</a>
            </div>
        </div>
        <div class="table-column">
            <div class="table-cell table-header">Export</div>
            <div class="table-cell">
                <a href="/">Export To CSV</a>
            </div>
            <div class="table-cell">
                <a href="/">Export To CSV</a>
            </div>
            <div class="table-cell">
                <a href="/">Export To CSV</a>
            </div>
            <div class="table-cell">
                <a href="/">Export To CSV</a>
            </div>
            <div class="table-cell">
                <a href="/">Export To CSV</a>
            </div>
        </div>
    </div>
</div>