<div class="table light-theme">
    <div class="table-row">
        <div class="table-title">Update Tables</div>
    </div>
    <div class="table-column">
        <div class="table-cell table-header">Table Names</div>
        <div class="table-cell">League</div>
        <div class="table-cell">Team</div>
        <div class="table-cell">Player</div>
        <div class="table-cell">PlayerLeague</div>
        <div class="table-cell">Game</div>
    </div>
    <div class="table-column">
        <div class="table-cell table-header">Actions</div>
        <div class="table-cell">
            <a href="/">Edit</a>
            <a href="/">Export To CSV</a>
        </div>
        <div class="table-cell">
            <a href="/">Edit</a>
            <a href="/">Export To CSV</a>
        </div>
        <div class="table-cell">
            <a href="/">Edit</a>
            <a href="/">Export To CSV</a>
        </div>
        <div class="table-cell">
            <a href="/">Edit</a>
            <a href="/">Export To CSV</a>
        </div>
        <div class="table-cell">
            <a href="/">Edit</a>
            <a href="/">Export To CSV</a>
        </div>
    </div>
</div>