<div [formGroup]="form">
    <div class="form-group">
        <div [ngSwitch]="question.controlType">

            <label *ngSwitchCase="'textbox'" [attr.for]="question.key">{{question.label}}</label>
            <input *ngSwitchCase="'textbox'" [formControlName]="question.key" [id]="question.key" [type]="question.type" class="form-control"
                [value]="question.value">

            <label *ngSwitchCase="'dropdown'" [attr.for]="question.key">{{question.label}}</label>
            <select *ngSwitchCase="'dropdown'" [id]="question.key" [formControlName]="question.key" class="form-control" [value]="question.value">
                    <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
                </select>

            <div *ngSwitchCase="'checkbox'" class="checkbox">
                <label>
                        <input formControl="{{question.key}}" [id]="question.key" type="checkbox"> 
                        {{question.label}}
                    </label>
            </div>

        </div>
        <div class="errorMessage" *ngIf="!isValid" class="alert alert-danger">{{question.validationMessages | validationMessages: validationErrors}}</div>
    </div>
</div>