<dashboard-metabar></dashboard-metabar>
<main class="dashboard">
    <div class="dashboard-inner site-width">
        <main>
            <div class="panel-header">
                <i class="fa fa-rocket"></i>
                <h2>Standings</h2>
            </div>
            <div class="panel">
                <dashboard-summary></dashboard-summary>
            </div>
            <div class="panel-header">
                <h2>Scores</h2>
            </div>
            <div class="panel">
                <dashboard-scores></dashboard-scores>
            </div>
        </main>
    </div>
</main>