.dashboard {
    display:flex;
    min-height:100vh;
    background:#FAFAFA;
}

.dashboard {
    display:flex;
    width:100%;  
    border-bottom: 1px solid #F8F8F8;
}

.dashboard-inner {
    display:flex;
    margin-top:2rem;
}

main {
    flex:1;
    margin-right:1.5rem;
}
aside {
    width:34rem;
}
.panel {
    margin-top:1em; 
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
}

.filler {
    min-height:20rem;
    width:100%;
    background:white;
}