
/* ==========================================================================
   #BASE-GENERIC
   ========================================================================== */


*, *:before, *:after {
  box-sizing: border-box;
}




/* ==========================================================================
   #BASE-BODY
   ========================================================================== */

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin:0;
  font-family: 'Lato', sans-serif;
  font-size:1.8rem;
  letter-spacing:0.02em;
  word-wrap:break-word;
  text-rendering:optimizeLegibility;
  line-height: 1.7;
  -moz-font-feature-settings: "liga" on;
  opacity: 1;
  color: rgba(0,0,0,.8);
}

/**
 * Ensure page always cover full height of screen
 */
.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-width {
    width:125rem;
    margin: 0 auto;
}
.site-padding {
    padding-left:2rem;
    padding-right:2rem;
}

/* ==========================================================================
   BASE-HEADINGS
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15em;
  letter-spacing:-0.02em;
}

h1 {
  font-size: 6rem;
  letter-spacing: 2px;
  text-indent: -3px;
}

h2 {
  font-size: 3.4rem;
  letter-spacing: 2px;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 2rem;
  margin-bottom:0.2em;
}

h6 {
  font-size: 2rem;
}

a {
  color:inherit;
  text-decoration:none;
}

p {
  font-size:2.1rem;
  line-height:1.7;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing:-0.003em;
  margin-bottom: 2em;
  margin-top:0;
}


button {
    display: block;
    margin: 20px;
    padding: 15px;
    border:none;
    background:none;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
}
.button-full {
  width:100%;
  margin: 20px auto;
}

ol, ul {
  list-style:none;
  margin:0;
  padding:0;
}

/* ==========================================================================
   BASE-FONT-AWESOME
   ========================================================================== */

.fa-18 {
    font-size:1.8rem;
}
.fa-20 {
    font-size:2rem;
}
.fa-22 {
    font-size:2.2rem;
}

/* ==========================================================================
   BASE-COMPONENTS
   ========================================================================== */


admin {
    display:flex;
    flex:1;
    flex-direction:column;
}

.btn-action {
    display:flex;
    align-items:center;
    justify-content:center;
    padding:15px 9px;
}

.center-content {
  display:flex;
  justify-content:center;
  align-items:center;
  flex:1;
}

.site-brand {
    font-size:3.2rem;
    font-weight:700;
    margin-bottom:.5rem;
}
