.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
}

admin {
    display:flex;
    flex:1;
    flex-direction:column;
}
button {
    border:none;
    background:none;
}

.btn-action {
    display:flex;
    align-items:center;
    justify-content:center;
    padding:15px 9px;
}

.fa-18 {
    font-size:18px;
}
.fa-20 {
    font-size:20px;
}
.fa-22 {
    font-size:22px;
}