<div class="table" *ngIf="loaded">
    <div class="table-column primary">
        <div class="table-row-cell table-header">
            {{keysAlias[primaryKey]}}
        </div>
        <div class="table-row-cell full" *ngFor="let cell of primaryColumn">
	    <div class="team-icon {{cell}}"></div>
            {{cell}}
            <i *ngIf="champion === cell" class="fa fa-star champion-icon" aria-hidden="true"></i>
        </div>
    </div>
    <div class="table-column centered" *ngFor="let key of centeredKeys">
        <div class="table-row-cell table-header centered">
            {{keysAlias[key]}}
        </div>
        <div class="table-row-cell centered" *ngFor="let cell of centeredColumns[key]">
            {{cell}}
        </div>
    </div>
</div>
<loading-indicator *ngIf="!loaded"></loading-indicator>