header {
    display:flex;
    flex:1;
    flex-direction:row-reverse;
    align-items:center;
    height:60px;
    margin-left:1em;
    margin-right:1em;
}

.header-logo{
    position:fixed;
    margin-top:13px;
    left:50%;
    margin-left:-195px; // half width of logo
}

.header-nav {
    margin-top:13px;
    opacity:.75
}

.header-nav:hover {
    opacity:.9;
}
.header-nav:focus{
    opacity:.9;
}
