:host {
    position:fixed;
    height:4rem;
    background-color: #ffffff;
    left:0;
    right:0;

}
header {
    display:flex;
    flex:1;
    flex-direction:row-reverse;
    align-items:center;
    height:4rem;
    margin-left:1em;
    margin-right:1em;
}

.header-logo{
    position:absolute;
    top:0;
    left:50%;
    margin-left:-195px; // half width of logo
}

.header-nav {
    display:inline-block;
    margin-top:13px;
    opacity:.75
}

.header-nav:hover {
    opacity:.9;
}
.header-nav:focus{
    opacity:.9;
}
