.table-row {
  display:flex;
  flex-direction:row;
  width:100%;
  min-height:min-content;
}
.table-row-cell {
  display:flex;
  flex:1;
  padding: 16px 32px;
}

:host-context(.theme-light) .table-row-cell {
    border-bottom: 1px solid #ECEFF1;
}

.table-row.Delete {
  background:red;
}