.table-row {
  display:flex;
  flex-direction:row;
  width:100%;
  cursor:pointer;
  min-height:min-content;
}

.table-row:hover {
  background: #DCE7F4;
}

.table-row-cell {
  display:flex;
  flex:1;
  padding: 16px 32px;
  border-bottom: 1px solid #ECEFF1;
}

.table-row.delete {
  background:#f2dede;
}
.table-row.post {
  background-color: #dff0d8;
}
.table-row.put {
  background-color: #d9edf7;
}