

$color-win: #edfeed;
$color-tie: #fdf5eb;

/* ==========================================================================
   DASHBOARD-PANELS
   ========================================================================== */

.panel {
    margin-top:1.5rem;
    margin-bottom:2.5rem;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
}
.panel-small {
    max-width:100rem;
    margin:0 auto;
}
.panel-header{
    display:flex;
    flex-direction:row;
    align-items:center;
    opacity:.85;
    margin-top:2.5rem;

    i {
        font-size:2.4rem;
        margin-right:1rem;
    }
    h2 {
        margin:0;
    }
}


/* ==========================================================================
   #TEAMS
   ========================================================================== */
.table {
  display:flex;
  flex:1;
  width:100%;
  flex-direction:row;
  background:#FFFFFF;
}
.table-body {
  display:flex;
  flex-direction:column;
}
.table-row {
  display:flex;
  flex-direction:row;
  width:100%;
  margin:0;
}

.table-header {
  width:100%;
  font-weight:700;
  background:#EBEBEB;
  color:rgba(0,0,0,0.7);
  font-weight:700;
}
.table-column {
    display:flex;
    flex-direction:column;
    flex:1;
}
.table-row-cell {
  display:flex;
  flex-direction:row;
  align-items:center;
  width:100%;
  padding: 8px 12px;
  border-bottom: 1px solid #ECEFF1;
}

.centered {
    align-items:center;
    justify-content:center;
}

.full {
    flex-wrap:nowrap;   
}

.primary {
    flex:2;
}


/* ==========================================================================
   #SCORES
   ========================================================================== */

.team-icon {
    width: 2rem;
    height: 2rem;
    border-radius: 999px;
    margin-right: 1rem;
    border: 1px solid rgba(0,0,0,.2);
}

.team-icon.White {
  background-color: white;
}
.team-color.White {
  color:white;
}

.team-icon.Gray {
  background-color:#D1D2D4;
}
.team-color.Gray {
  color:#D1D2D4;
}

.team-icon.Red{
  background-color:#e74c3c
}
.team-color.Red{
  color:#e74c3c
}
.team-icon.Cardinal {
  background-color:#c0392b;
}
.team-color.Cardinal {
  color:#c0392b
}
.team-icon.Pink {
  background-color:#EF5D94;
}
.team-color.Pink {
  color:#EF5D94;
}


.team-icon.Green {
  background-color:#2ecc71;
}
.team-color.Green {
  color:#2ecc71;
}
.team-icon.Kelly.Green {
  background-color:#16a085;
}
.team-color.Kelly.Green {
  color:#16a085;
}
.team-icon.Turf.Green {
  background-color:#AECD48;
}
.team-color.Turf.Green {
  color:#AECD48;
}
.team-icon.Lime.Green {
  background-color: #07FE00;
}
.team-color.Lime.Green {
  color: #07FE00;
}
.team-icon.Forest.Green {
  background-color:#27ae60;
}
.team-color.Forest.Green {
  color:#27ae60;
}

.team-icon.Blue {
  background-color:#144782;
}
.team-color.Blue {
  color:#144782;
}
.team-icon.Wake.Blue {
  background-color:#78A6D9;
}
.team-color.Wake.Blue {
  color:#78A6D9;
}
.team-icon.Cobalt.Blue {
  background-color:#144782;
}
.team-color.Cobalt.Blue {
  color:#144782;
}
.team-icon.Columbia.Blue {
  background-color:#9CDEFF;
}
.team-color.Columbia.Blue {
 color:#9CDEFF;
}
.team-icon.Tropic.Blue {
  background-color:#63C5DE;
}
.team-color.Tropic.Blue {
  color: #63C5DE;
}

.team-icon.Orange {
  background-color:#f39c12;
}
.team-color.Orange {
  color:#f39c12;
}

.team-icon.Purple {
  background-color:#9b59b6;
}
.team-color.Purple {
    color:#9b59b6;
}

.team-icon.Black {
  background-color:black;
}
.team-color.Black {
    color:black;
}

.team-icon.Yellow {
  background-color: #FFF200;
}
.team-color.Yellow {
  color: #FFF200;
}

.team-icon.Tan {
  background-color:#DDB480
}
.team-color.Tan {
  color: #DDB480;
}
