:host {
  display:flex;
  flex:1;
  width:100%;
  flex-direction:column;
  background:#FFFFFF;
}
.table-body {
  display:flex;
  flex-direction:column;
}
.table-row {
  display:flex;
  flex-direction:row;
  width:100%;
  margin:0;
  border-bottom: 1px solid #ECEFF1;
}

.table-header {
  font-weight:700;
  margin-bottom:2rem;
}
.table-column {
  background:#EBEBEB;
  color:rgba(0,0,0,0.7);
  font-weight:700;
}

.table-row-cell {
  display:flex;
  flex:1;
  padding: 8px 12px;
}
