.menu {
    display:inline-block;
    // flex-direction:row;
    // align-items:center;
}
.menu-more {
  display:flex;
  position:absolute;
  width:200px;
  margin: -5px 0 0 -20px;
  padding: 6px 0 10px 0;
  z-index: 999;
  flex-direction:column;
  padding:10 20px;
  background:#FFFFFF;

  li {
      padding: 5px 20px; 
      cursor:pointer;   
  }
  li:hover {
      background-color:#fbfbfb;
  }
}