.user-login {
    display:flex;
    align-items:center;
    justify-content:center;
    align-items:center;
    min-height:40rem;
}
.auth-error {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    padding:12px;
    margin:1em auto;
    width:40rem;
}