.table {
  display:flex;
  flex-direction:column;
}
.table-body {
  display:flex;
  flex-direction:column;
  overflow:auto;
  max-height:700px;
}
.table-row {
  display:flex;
  flex-direction:row;
  width:100%;
  min-height:min-content;
}
.table-column {
  display:flex;
  flex-direction: column;
  align-items:center;
  flex:1;
}
.table-cell {
    display:flex;
    width:100%;
    padding: 16px 32px;
}
.table-row-cell {
  display:flex;
  flex:1;
  padding: 16px 32px;
}

/* Dynamic row child */
dynamic-row:hover {
  background: #DCE7F4;
}
dynamic-row {
  cursor:pointer;
}
/* LIGHT THEME */
.table.light-theme {
    box-shadow: 0 2px 5px 0  rgba(-0, 0, 0,0.26);
    border-radius:4px;
}
.light-theme {
  .table-header {
    background: rgba(236,239,241,0.24);
    border: 1px solid #ECEff1;
  }
  .table-cell {
    border-bottom: 1px solid #ECEFF1;
  }
  .table-row-cell {
    border-bottom: 1px solid #ECEFF1;
  }
}

.form-background{
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index:1001;
    opacity:1;
    background-color: rgba(0,0,0,0.1);
}
.form-content {
    display: block;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 32px;
    background-color: white;
    z-index:1002;
    overflow: auto;
    border-radius: 2px;
}

button {
  margin-top:16px;
  margin-bottom:16px;
}