<div class="table-wrapper {{theme}}">
    <div *ngIf="responseMessage" class="response bg-danger">{{responseMessage}}</div>
    <div class="table-controls">
        <button (click)="addRow()" class="btn-action table-button">
            <i class="fa fa-plus fa-18" aria-hidden="true"></i>Add a row
        </button>
        <filter-menu *ngIf='filterKeys.length > 0' [filterKeys]='filterKeys'></filter-menu>
        <button (click)="exportToCsv()" class="btn-action table-button">
            <i class="fa fa-table" aria-hidden="true"></i>Export to csv
        </button>
    </div>
    <div *ngIf="rows.length" class="table">
        <div class="table-row table-header">
            <div class="table-row-cell" *ngFor="let columnName of columnNames">{{columnName}}</div>
        </div>
        <div class="table-body">
            <div *ngFor="let row of addedRows">
                <dynamic-row class="table-row" [keys]="keys" [row]="row"></dynamic-row>
            </div>
        </div>
        <div class="table-body table-main-content">
            <div *ngFor="let row of rows | rowPipe">
                <dynamic-row class="table-row" [keys]="keys" [row]="row"></dynamic-row>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!rows.length" class="table">
    <loading-indicator></loading-indicator>
</div>
<dynamic-row-edit [formQuestions]="formQuestions"></dynamic-row-edit>