:host {
    display:flex;
    flex:1;
    min-height:20rem;
    width:100%;
    background:#FFFFFF;
};
.captain-icon {
    color: #34495e;
    margin-left:1rem;
};

.not-found {
    background-color:#EBEBEB;
    color: rgba(0,0,0,0.6);
    &:first-child {
        font-size:3rem;
    }
}